<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "app.naomi24.ua"
        versionCode = "10"
        version     = "1.1.0">

    <name>naomi24.ua</name>

    <description>
        Интернет-магазин косметики
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/80c486cda4e5e7a9e208126579a30f16.png" density="ldpi" />
        <icon src="res/android/icon/2b841f66de216f7ea9088bae1dc59145.png" density="mdpi" />
        <icon src="res/android/icon/04c63cb7f43b30fd601e797606c88bce.png" density="hdpi" />
        <icon src="res/android/icon/50332922920c2b40e0dca6da641c0996.png" density="xhdpi" />
        <icon src="res/android/icon/c761dee0e05896fffa723aaace539257.png" density="xxhdpi" />
        <icon src="res/android/icon/fd2c7043b68c0182c377a93d985d69be.png" density="xxxhdpi" />

        <splash src="res/android/screen/c570bc26d26ca7d9f34ef43c61fc8ab7.png" density="port-hdpi"/>
        <splash src="res/android/screen/74a97260a6debd5c5f34e27f2136ae27.png" density="port-ldpi"/>
        <splash src="res/android/screen/b6f19e83a481b605d27e53b4d72f6a36.png" density="port-mdpi"/>
        <splash src="res/android/screen/c3f033f2e53d2014d2b023855b12f695.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/b2db3810f16540f8c02f35e3d6a7d69c.png" width="180" height="180" />
        <icon src="res/ios/icon/89eb8ed83217ebcc0020b62bb0bf7540.png" width="60" height="60" />
        <icon src="res/ios/icon/88a86b1aae3f05e41a2a2eca40dc9d1a.png" width="120" height="120" />
        <icon src="res/ios/icon/be0db2bf56be7dc095189ffec75b3523.png" width="76" height="76" />
        <icon src="res/ios/icon/c98c62629b31333b9ec90a4fd9a6a521.png" width="152" height="152" />
        <icon src="res/ios/icon/9aa4008715c4e012388c56ac035cbe6c.png" width="57" height="57" />
        <icon src="res/ios/icon/121f4537f72e7c8b61eb6a1d5a06781d.png" width="114" height="114" />
        <icon src="res/ios/icon/a6e8dbd53523bcdd6d90508fc5da4f54.png" width="72" height="72" />
        <icon src="res/ios/icon/c460bae84e0bbc8dcf05f7f81133c785.png" width="144" height="144" />
        <icon src="res/ios/icon/7dd56f2a05d611d745c1ea0c115a6857.png" width="167" height="167" />
        <icon src="res/ios/icon/4e352e8aaed54f279e447287283b86bb.png" width="29" height="29" />
        <icon src="res/ios/icon/a53116c10871b88010976d4fd3b3b5af.png" width="58" height="58" />
        <icon src="res/ios/icon/0517a08217d16ca5c0de5a66cdc3310a.png" width="87" height="87" />
        <icon src="res/ios/icon/40635ea5a23837b0b050da6738a38fab.png" width="167" height="167" />

        <splash src="res/ios/screen/01c750108a14adcd4abb1e2fce33114f.png" />
        <splash src="res/ios/screen/04da7aa785a09f31d76863ccd9c0b0bc.png" />
        <splash src="res/ios/screen/f9c2f75a7b9d45c2a4c8500dfc556322.png" />
        <splash src="res/ios/screen/67dd2f5d4eb195c07de2bf3f8825804c.png" />
        <splash src="res/ios/screen/63df65f8e28e1bdaa5e43b917573a63e.png" />
        <splash src="res/ios/screen/324be2f1061b651403e88c287a1c74f2.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/abeb6cb4ff9414a28df796967420e161.png" target="StoreLogo" />
        <icon src="res/windows/icon/2d699df4dba495abe313a5224669a41b.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/0875302ce5ae849c0d2756182ab92d40.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/516fc4cbf61ef558e162aa1ee8218d53.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/d99d9f8949747785189be6cd5bda5e95.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/a90f95e3c8ebcf21a2a581b4db2202e0.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/a465e39fadd1f7c6ff1911d0f58eae1e.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/1b618e3219ef1d99bdf3a3f3da8d9ee9.png" target="SplashScreen"/>
        <splash src="res/windows/screen/23a5e6a83cd0b7eb65c9963df251639e.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>